[
  {
    "id": "1771313962148",
    "createdAt": "2026-02-17T07:39:22.148Z",
    "title": "ihooj",
    "code": "8FWRUU7Y",
    "type": "amount_off_products",
    "valueType": "percentage",
    "value": 89,
    "startDate": "2026-02-17T06:30:00.000Z",
    "endDate": null,
    "selectionType": "collections",
    "selectedResources": [
      {
        "id": "gid://shopify/Collection/299663982659",
        "title": "Automated Collection",
        "handle": "automated-collection"
      }
    ],
    "minimumRequirementValue": "none",
    "minimumPurchaseAmount": 0,
    "minimumQuantity": 0,
    "limitTotalUses": false,
    "totalUsesLimit": 0,
    "limitOnePerCustomer": false,
    "combineProduct": false,
    "combineOrder": false,
    "combineShipping": false,
    "oncePerOrder": false,
    "countriesType": null,
    "selectedCountries": [],
    "bxgyBuysType": null,
    "bxgyBuysResources": [],
    "bxgyBuysQuantity": null,
    "bxgyGetsType": null,
    "bxgyGetsResources": [],
    "bxgyGetsValueType": null,
    "bxgyGetsValue": null,
    "bxgyGetsQuantity": null,
    "bxgyRepeatOncePerOrder": false,
    "shopifyId": "gid://shopify/DiscountCodeNode/1287235960899"
  },
  {
    "id": "1771315592130",
    "createdAt": "2026-02-17T08:06:32.130Z",
    "title": "asdfgb",
    "code": "KA9YJO1B",
    "type": "amount_off_products",
    "valueType": "fixed_amount",
    "value": 900,
    "startDate": "2026-02-17T06:30:00.000Z",
    "endDate": null,
    "selectionType": "collections",
    "selectedResources": [
      {
        "id": "gid://shopify/Collection/299664015427",
        "title": "Hydrogen",
        "handle": "hydrogen"
      }
    ],
    "minimumRequirementValue": "none",
    "minimumPurchaseAmount": 0,
    "minimumQuantity": 0,
    "limitTotalUses": false,
    "totalUsesLimit": 0,
    "limitOnePerCustomer": false,
    "combineProduct": false,
    "combineOrder": false,
    "combineShipping": false,
    "oncePerOrder": true,
    "countriesType": null,
    "selectedCountries": [],
    "bxgyBuysType": null,
    "bxgyBuysResources": [],
    "bxgyBuysQuantity": null,
    "bxgyGetsType": null,
    "bxgyGetsResources": [],
    "bxgyGetsValueType": null,
    "bxgyGetsValue": null,
    "bxgyGetsQuantity": null,
    "bxgyRepeatOncePerOrder": false,
    "shopifyId": "gid://shopify/DiscountCodeNode/1287237959747"
  },
  {
    "id": "1771319318907",
    "createdAt": "2026-02-17T09:08:38.907Z",
    "title": "sdfghyjukilo",
    "code": "LJ56GX3L",
    "type": "amount_off_products",
    "valueType": "fixed_amount",
    "value": 56,
    "startDate": "2026-02-17T06:30:00.000Z",
    "endDate": null,
    "selectionType": "collections",
    "selectedResources": [
      {
        "id": "gid://shopify/Collection/299664015427",
        "title": "Hydrogen",
        "handle": "hydrogen"
      }
    ],
    "minimumRequirementValue": "none",
    "minimumPurchaseAmount": 0,
    "minimumQuantity": 0,
    "limitTotalUses": false,
    "totalUsesLimit": 0,
    "limitOnePerCustomer": false,
    "combineProduct": false,
    "combineOrder": false,
    "combineShipping": false,
    "oncePerOrder": false,
    "countriesType": null,
    "selectedCountries": [],
    "bxgyBuysType": null,
    "bxgyBuysResources": [],
    "bxgyBuysQuantity": null,
    "bxgyGetsType": null,
    "bxgyGetsResources": [],
    "bxgyGetsValueType": null,
    "bxgyGetsValue": null,
    "bxgyGetsQuantity": null,
    "bxgyRepeatOncePerOrder": false,
    "shopifyId": "gid://shopify/DiscountCodeNode/1287246217283"
  }
]