{% if block.settings.enabled %}
  {{ 'cart_drawer.css' | asset_url | stylesheet_tag }}
  <div id="cc-root" data-shop="{{ shop.permanent_domain }}"></div>
  <script src="{{ 'cart_drawer.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
{
  "name": "Custom Cart Drawer",
  "target": "body",
  "enabled_on": {
    "templates": ["*"]
  }
}
{% endschema %}
