{% if shop.permanent_domain != blank %}
  <div id="cc-root" data-shop="{{ shop.permanent_domain }}"></div>

  {{ 'cart_drawer_inline.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'cart_drawer_inline.js' | asset_url }}" defer></script>
{% endif %}
{% schema %}
{
  "name": "Custom Cart Drawer",
  "target": "body",
  "enabled_on": {
    "templates": ["*"]
  }
}
{% endschema %}
